<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElementX">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.ElementX.Splash"
            android:windowSoftInputMode="adjustResize">

            <!-- Handle deep-link for notification ./tools/adb/deeplink.sh -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="open"
                    android:scheme="elementx" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="io.element" />
            </intent-filter>
            <!--
              Element web links
            -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <!-- Note: we can't use "*.element.io" here because it'll intercept the "mas.element.io" domain too. -->
                <!-- Matching asset file: https://app.element.io/.well-known/assetlinks.json -->
                <data android:host="app.element.io" />
                <!-- Matching asset file: https://develop.element.io/.well-known/assetlinks.json -->
                <data android:host="develop.element.io" />
                <!-- Matching asset file: https://staging.element.io/.well-known/assetlinks.json -->
                <data android:host="staging.element.io" />
            </intent-filter>
            <!--
              matrix.to links
              Note: On Android 12 and higher clicking a web link (that is not an Android App Link) always shows content in a web browser
              https://developer.android.com/training/app-links#web-links
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="matrix.to" />
            </intent-filter>
            <!--
              links from matrix.to website
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="element" />
                <data android:host="user" />
                <data android:host="room" />
            </intent-filter>
        </activity>

    </application>

</manifest>
